@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");

:root {
  --green-lighter: #7ce495;
  --green-darker: #55c595;
}
* {
  outline-color: var(--green-lighter) !important;
}
.form-control:focus {
  border-color: var(--green-darker) !important;
}
html,
body {
  font-family: "Montserrat";
}

/*
  GENERAL AND CUSTOM CLASSES
*/
.btn-control {
  border-radius: 50%;
  border: 0;
  background: transparent;
}
.btn-control:hover {
  cursor: pointer;
}
.category-tag {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.category-tag-delete {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jumbotron h1 {
  font-size: 2.5rem;
}
.jumbotron p {
  font-size: 1rem;
}
.bg-light-grey {
  background: #aaa !important;
}
.section {
  padding: 10px;
  border: 0.5px solid #1414143f;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}
.color-light {
  color: var(--green-lighter);
}
.color-dark {
  color: var(--green-darker);
}
.bg-green-light {
  background: var(--green-lighter);
}
.bg-green-dark {
  background: var(--green-darker);
}
.d-grid {
  display: grid;
}
.jumbotron {
  background: var(--green-darker) !important;
}
.sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #eee;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  width: 300px;
  transform: translateX(-230px);
}
.sidebar,
.active-component {
  transition: 500ms;
}
.sidebar.active {
  transform: translate(0, 0);
}
.active-component.active {
  transform: translateX(230px);
}

.sidebar .brand {
  padding: 40px 10px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar li {
  position: relative;
  text-align: center;
  color: #141414;
  padding: 10px 5px;
}
.sidebar li a {
  width: 100%;
  height: 100%;
}
.sidebar li * {
  color: #222;
  font-weight: 600;
  font-size: 20px;
}
.sidebar li a:hover {
  text-decoration: none;
}
.sidebar li.active {
  background: rgba(131, 86, 86, 0.2) !important ;
}
.sidebar li:hover {
  background: rgba(131, 86, 86, 0.1) !important;
  cursor: pointer;
}
.sidebar li .d-flex {
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.sidebar li .fa {
  padding-left: 10px;
  color: var(--green-darker);
}

.active-component {
  position: fixed;
  top: 0;
  left: 70px;
  padding: 20px 0;
  z-index: 1;
  width: calc(100vw - 70px);
  height: 100vh;
  overflow-y: scroll;
}

.active-component::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.active-component::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.active-component::-webkit-scrollbar-thumb {
  background-color: var(--green-lighter);
  outline: 1px solid slategrey;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--green-lighter);
  outline: 1px solid slategrey;
}

.dashboard .jumbotron {
  background: var(--green-darker);
  color: #141414;
}
.dashboard .statistics {
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.dashboard .statistics li {
  position: relative;
  padding-top: 100%;
  background: var(--green-lighter);
  width: 100%;
  border-radius: 10px;
}
.dashboard .statistics li .inner {
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/*
STANDARD UNIVERSAL LOADER
*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--green-lighter) transparent transparent transparent;
}
.loading-light {
  border-color: white transparent transparent transparent !important;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.product-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  justify-content: center;
}
.product-grid {
  border-radius: 20px;
  padding-top: 100%;
  position: relative;
  box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.2);
}
.product-grid .product-content {
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-grid .product-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.product-grid .product-name {
  padding: 10px;
  font-weight: 600;
}

.product-grid .product-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: fit-content;
  left: 0;
  background: white;
  z-index: 2;
}
.product-grid .product-details {
  max-height: 0;
  transition: max-height 1s;
  padding: 0 10px;
  overflow: hidden;
}
.product-content:hover .product-details {
  max-height: 400px;
}
.product-grid .description {
  font-size: 16px;
}
.product-grid .description {
  max-height: 70px;
  overflow-y: scroll;
}
.product-grid.appearing {
  animation: product-grid-appear 0.5s ease-in-out forwards;
  -webkit-animation: product-grid-appear 0.5s ease-in-out forwards;
}
.product-grid.disappearing {
  animation: product-grid-disappear 0.5s ease-in-out forwards;
  -webkit-animation: product-grid-disappear 0.5s ease-in-out forwards;
}
@keyframes product-grid-disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none !important;
  }
}
@keyframes product-grid-appear {
  from {
    visibility: show;
    display: block !important;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .product-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 574px) {
  .product-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.describable{
  position:relative;
}

.describable .area {
  overflow:hidden !important;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.describable .description {
  width:140px;
  overflow:hidden !important;
  position: absolute;
  right: 0;
  top: 0;
  font-size:11px;
  transform: translate(100%, -100%);
  background: #7ce494a1;
  color:#141414;
  font-weight: bold;
  padding:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  box-shadow: 15px 15px 15px rgb(0,0,0,0.4);
  z-index:-1;
  display:none;
  opacity: 0;
  transition:opacity 200ms;
}
.describable .area:hover~ .description.bg-danger {
  display:block;
  opacity:0.8;
}
.describable .area:hover ~ .description{
  display:block;
  z-index:10;
  opacity:1;
}
.popup-background{
  overflow-y:auto;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:rgb(0,0,0,0.4);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:-1;
  opacity:0;
}

.popup-background.active{
  transition:opacity 1s;
  opacity: 1;
  z-index:10;
}
.popup-content {
  padding: 10px 30px;
  border-radius:10px;
  box-shadow: 1px 1px 1px var(--green-lighter);
  width:550px;
  max-width:95%;
}

@media(max-width:540px){
  .popup-background{
    left:45px;
  }
  .popup-content{
    max-width:calc(70%);
  }
  html,body{
    font-size:0.9rem;
  }
}
.form-control.required{
  border-color:red;
}
.fa{
  transition:400ms;
}
.fa:hover{
  cursor: pointer;
  color:var(--green-lighter);
}
.delete-image{
  border-radius: 50%;
  width:15px;
  height:15px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-color: red;
  color:white;
  font-weight: bold;
  font-size: 9px;
  right:0;
  top:0;
  background:red !important;  
}
.delete-image:hover{
  cursor: pointer;
}
.login-page{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.login-bg{
  position:absolute;
  top:0;
  left:0;
  width: 100%;height:100%;
  filter:blur(4px);
  object-fit: cover;
  z-index:1;
}
.login-form .title{
  color:var(--green-darker);
  font-weight: 800;
}
.login-form{
  z-index:2;
   background:rgb(255,255,255,0.8); 
  border:2px solid var(--green-darker);
  border-radius: 5px;
    width:330px;
    height:300px;
}
.login-page .overlay{
  position:absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  background:var(--green-darker);
  opacity:0.3;
} 
.login-form input.form-control{

  border:1px solid var(--green-darker);
  background:#ccc;
}
.login-form input.form-control::placeholder{
  color:#141414;
}